.card {
  padding: $base-padding * 1.5;

  &__title {
  }

  &__text {
  }

  &__image {
    aspect-ratio: 9/6 auto;
    img {
      width: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }
}
