@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&family=Open+Sans:wght@400;700&display=swap');

html {
  font-size: 16px;
}

$bodyFont: 'Open Sans', sans-serif !default;

body {
  font-size: 1rem; /* 16px */
  font-family: $bodyFont;
}

:root {
  --font-ratio: 1.33;
  --size-300: calc(var(--size-400) / var(--font-ratio));
  --size-400: 1rem; /* 16px */
  --size-500: calc(var(--size-400) * var(--font-ratio));
  --size-600: calc(var(--size-500) * var(--font-ratio));
  --size-700: calc(var(--size-600) * var(--font-ratio));
  --size-800: calc(var(--size-700) * var(--font-ratio));
  --size-900: calc(var(--size-800) * var(--font-ratio));
}

$headingFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headingFont;
}

p {
  font-size: var(--size-400);
  line-height: 1.6;
}

label {
  font-size: var(--size-300);
}

h1 {
  font-size: var(--size-900);
}

h2 {
  font-size: var(--size-700);
}

h3 {
  font-size: var(--size-600);
}
