.menu {
  display: flex;
  justify-content: flex-end;

  list-style: none;
  margin: 0;
  padding: 0;
  &-item {
    padding: 1rem 1.5rem;
    &-title {
      display: block;
      font-size: 1.5rem;
      color: $white;
      text-decoration: none;
    }

    &-desc {
      display: block;
      font-size: 1rem;
      color: $dark-gray;
    }

    &:hover {
      background-color: $dark-gray;
      .menu-item-desc {
        color: white;
      }
    }
  }
}
