.section {
  padding-left: $base-padding;
  padding-right: $base-padding;
  margin-bottom: $base-margin;
  &--full-width {
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
